{{ define "main" }}

{{ if .Params.about_us.enable }}
{{ with .Params.about_us }}
<!-- start section -->
<section class="section-padding" data-aos="fade-in" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
  <div class="container">
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-4 col-md-8 col-sm-10 mb-2" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;margin-bottom: 30px;">
        <h2 class="section-title" style="color: black;">{{ .title | markdownify }}</h2>
        <ul class="check-list list-unstyled">
          {{ range .bulletpoints }}
          <li class="mb-15">
            <svg width="16" height="11" viewBox="0 0 18 13" class="text-primary me-2" fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M2 6.125L6.91892 11L16 2" stroke="currentColor" stroke-width="3" stroke-linecap="round"
                stroke-linejoin="round" />
            </svg>
            {{ . | markdownify }}
          </li>
          {{ end }}
        </ul>
        <div class="col-lg-8 mt-8 mt-lg-0 anim-to-bottom">
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | absLangURL }}" class="btn btn has-icon" style="width:100%; background-color: coral;"><strong>{{ .label }}</strong>
            <span class="icon" fill = "chocolate" style="background-color: coral;">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                  fill="currentColor" />
              </svg>
            </span>
          </a>
          {{ end }}
          {{ end }}
        </div>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-10">
        <!-- desktop -->
        <div class="d-none d-sm-block has-shadow shadow-right has-shapes">
          {{ partial "image.html" (dict "Src" .image "Alt" .image "Class" `rounded-lg shadow`) }}
        </div>
        <!-- mobile -->
        <div class="d-block d-sm-none has-shapes" style="margin: auto;">
          {{ partial "image.html" (dict "Src" .image_mobile "Alt" .image_mobile "Class" `rounded-lg shadow`) }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end section -->

<!-- start of new features section -->
{{ if .Params.features_new.enable }}
{{ with .Params.features_new }}
<section class="section-padding features new pt-0 overflow-hidden" data-aos="fade-in">
  <div class="container">
    <div class="row justify-content-center">        
      <div class="row colored-icon-box" style="padding: 0%;">
        {{ range $i, $e:= .features_new_items }}
        <!-- desktop view -->
        <div class="d-none d-sm-block  col-sm-4" data-aos-delay="{{mul $i 100}}">
          <div class="col icon-box shadow px-lg-2 py-5" style="width: 420px; height: 250px;">
            <div style="padding-top: 0%; padding-left: 20px; padding-right: 20px;">
              <i class="{{ .icon }} icon"></i>
            <p class="col font-weight-bolder" style="font-weight: bolder; font-size: 20px; color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ .featuretitle | markdownify }}</p>
            <p class="col" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify; font-size: 16px;">{{ .featurecontent | markdownify }}</p>
            </div>            
          </div>
        </div>
        <!-- mobile view -->
        <div class="d-block d-sm-none col-sm-4" data-aos-delay="{{mul $i 100}}" style="text-align: center;">
          <div class="col icon-box shadow px-lg-2 py-5" style="width: 420px; height: 250px;">
            <div style="padding-top: 0%; padding-left: 20px; padding-right: 20px;">
              <i class="{{ .icon }} icon"></i>
            <p class="col font-weight-bolder" style="font-weight: bolder; font-size: 20px; color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ .featuretitle | markdownify }}</p>
            <p class="col" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify; font-size: 16px;">{{ .featurecontent | markdownify }}</p>
            </div>            
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of new features section -->

<!-- start of Qrcode applications tab -->
{{ if .Params.applications_tab.enable }}
{{ with .Params.applications_tab }}
<section class="col section-padding applications_tab pt-0 overflow-hidden" data-aos="fade-in" style="resize: vertical;">
  <div class="container h-100">
    <div class="d-lg-flex no-gutters align-items-center h-100">
      <div class="tab-content" id="pills-tabContent" style="border: 0px;border-style:none;border-color: white;height: 750px">
        <!-- Title subsection -->
        <div class="col-lg-6">
          <!-- desktop view -->
           <div class="d-none d-sm-block align-items-center">
            <h2 class="section-title" style="text-align: left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 24px; font-weight: bolder;color: black;">{{ .title | markdownify }}</h2>
            <p style="text-align:justify; font-size: 14px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 10px; padding-bottom: 20px; padding-right: 20px;">{{ .content | markdownify }}</p>
          </div>
          <!-- mobile view -->
          <div class="d-block d-sm-none align-items-center" style="text-align: center;">
            <h2 class="section-title" style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 24px; font-weight: bolder;color: black;">{{ .title | markdownify }}</h2>
            <p style="text-align:center; font-size: 14px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; padding-top: 10px; padding-bottom: 20px; padding-right: 20px;">{{ .content | markdownify }}</p>
          </div>
          <!-- tabs subsection -->
          <!-- desktop view -->
          <div class="d-none d-sm-block">
            <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist" style="justify-content: space-between;vertical-align:middle;">
              {{ range $i, $e:= .tablist }}
              <li class="nav-item mb-10 shadow" role="presentation" style="margin: 10px;width: 160px; height: 60px; background-color: rgb(255, 252, 252)justify-content: space-between;vertical-align:middle; border-radius: 10px;">
                <a class="nav-link {{if eq $i 0}}active{{end}}"  id="pill-{{.title| urlize}}" data-bs-toggle="pill"
                  href="#{{.title| urlize}}" role="tab" aria-controls="{{.title| urlize}}" aria-selected="true" style="padding-left: 0px;height: 60px;justify-content: space-between;vertical-align:middle;">
                  <div class="align-items-center" style="padding-top: 10px;padding-left: 20px;">
                    <i class="row {{ .icon }} icon" style="height: 20px;float: left;"></i>
                    <p class="font-weight-bold" style="margin-left: 10px; vertical-align: middle; text-align: left; font-size: 13px; font-weight: bolder; color: black;">{{ .name | markdownify }}</p>
                  </div>                  
                </a>          
              </li>
              {{ end }}
            </ul>
          </div>          
          <!-- mobile view -->
          <div class="d-block d-sm-none">
            <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist" style="justify-content: space-between;vertical-align:middle;">
              {{ range $i, $e:= .tablist }}
              <li class="nav-item mb-10 shadow" role="presentation" style="margin: 10px;width: 160px; height: 60px; background-color: rgb(255, 252, 252);justify-content: space-between;vertical-align:middle; border-radius: 10px;">
                <a class="nav-link {{if eq $i 0}}active{{end}}"  id="pill-{{.title| urlize}}" data-bs-toggle="pill"
                  href="#{{.title| urlize}}" role="tab" aria-controls="{{.title| urlize}}" aria-selected="true" style="padding-left: 0px;height: 60px;justify-content: space-between;vertical-align:middle;">
                  <div class="align-items-center" style="padding-top: 10px;padding-left: 20px;">
                    <i class="row {{ .icon }} icon" style="height: 20px;float: left;"></i>
                    <p class="font-weight-bold" style="margin-left: 10px; vertical-align: middle; text-align: left; font-size: 13px; font-weight: bolder; color: black;">{{ .name | markdownify }}</p>
                  </div>                  
                </a>          
              </li>
              {{ end }}
            </ul>
          </div>        
        </div>
        <!-- details and images subsection -->
        {{ range $i, $e:= .tablist }}       
        <div class="col tab-pane fade {{if eq $i 0}}show active{{end}}" id="{{.title | urlize}}" role="tabpanel" aria-labelledby="pill-{{.title | urlize}}">
          <div class="col-lg-6 align-items-center" style="padding: 50px; float: left; border: 1px; border-color: gainsboro; border-style: dashed;">                    
             <!-- details div -->
             <!-- mobile view -->
              <div>
                <h2 class="section-title d-block d-sm-none" style="position: relative; font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 20px;text-align: center;color: black;">{{ .title | markdownify }}</h2>
              </div> 
              <!-- images for mobile -->
              <div class="d-block d-sm-none" style="position: relative;">
                {{ partial "image.html" (dict "Src" .image "Alt" .image "Class" `rounded-lg shadow`) }}              
              </div>
              <!-- desktop view -->
            <div class="mt-4 mt-lg-0">
              <h2 class="section-title  d-none d-sm-block" style="position: relative; font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 24px;text-align: left;">{{ .title | markdownify }}</h2>
              <p class="mb-30  d-none d-sm-block" style="color: rgb(37, 37, 37);text-align: left;">{{ .content | markdownify }}</p>                      
              <!-- mobile view -->
              <p class="mb-30 d-block d-sm-none" style="color: rgb(37, 37, 37);text-align: center;">{{ .content | markdownify }}</p>                      
            </div> 
            <!-- button -->
            {{ if .button.enable }}
            {{ with .button }}
            <!-- desktop view -->
            <a href="{{ .link | absLangURL }}" class="btn btn has-icon d-none d-sm-block" style="background-color: coral;width: fit-content;">{{ .label }}
              <span class="icon" style="background-color: coral;">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" style="background-color: coral;">
                  <path
                    d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                    fill="currentColor" />
                </svg>
              </span>
            </a>
            <!-- mobile view -->
            <a href="{{ .link | absLangURL }}" class="btn btn has-icon d-block d-sm-none" style="background-color: coral;width: 100%;">{{ .label }}
              <span class="icon" style="background-color: coral;">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg" style="background-color: coral;">
                  <path
                    d="M12.5522 6.66669L20.5522 14.6667C21.0329 15.1473 21.0699 15.9036 20.6632 16.4267L20.5522 16.5523L12.5522 24.5523L10.6666 22.6667L17.7228 15.6095L10.6666 8.55231L12.5522 6.66669Z"
                    fill="currentColor" />
                </svg>
              </span>
            </a>
            {{ end }}
            {{ end }}                       
          </div>
          <!-- images for desktop div -->
          <div class="d-none d-sm-block" style="position: relative;bottom: 400px;margin: auto;float:right;flex-wrap: wrap;">
            {{ partial "image.html" (dict "Src" .image "Alt" .image "Class" `rounded-lg shadow`) }}
          </div>           
        </div>
        {{ end }}        
      </div>                     
    </div>                       
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of Qrcode applications tab -->

<!-- start of features -->
{{ if .Params.homepage_tab.enable }}
{{ with .Params.homepage_tab }}
<section class="section-padding how-it-works-tab pt-0 overflow-hidden" data-aos="fade-in">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center mb-40 align-items-center" style="text-align: center;">
        <h2 class="col-lg-8 section-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: center; font-size: 24px; display: inline-block;color: black;">{{ .title | markdownify }}</h2>
        <p class="col-lg-6" style="display: inline-block;">{{ .content | markdownify }}</p>
      </div>      
      <div class="row colored-icon-box">
        {{ range $i, $e:= .features }}
        <div class="col-sm-4" data-aos-delay="{{mul $i 100}}">
          <div class="col icon-box shadow px-lg-2 py-5" style="width: 400px; border-color: rgb(230, 228, 228); border-style: solid; border-width: thin; height: 250px;">
            <div style="padding-top: 0%; padding-left: 60px; padding-right: 60px; justify-content: center;">
              <i class="{{ .icon }} icon"></i>
            <p class="col font-weight-bolder" style="font-weight: bolder; color: black; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ .featuretitle | markdownify }}</p>
            <p class="col" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; text-align: justify; font-size: 12px;">{{ .featurecontent | markdownify }}</p>
            </div>            
          </div>
        </div>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of features -->

<!-- start of Frequently asked questions desktop tab -->
{{ if .Params.faq_tab.enable }}
{{ with .Params.faq_tab }}
<section class="section-padding faq-tab pt-0 overflow-hidden" data-aos="fade-in">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-9 text-center mb-40">
        <h2 class="section-title" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;color: black;">{{ .title | markdownify }}</h2>
        <p>{{ .content | markdownify }}</p>
      </div>
      <div class="col-lg-11">
        <!-- desktop view -->
        <div class="d-none d-sm-block">
          <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
            {{ range $i, $e:= .tablist }}
            <li class="nav-item mb-20" role="presentation">
              <a class="nav-link {{if eq $i 0}}active{{end}}" id="pill-{{.name| urlize}}" data-bs-toggle="pill"
                href="#{{.name| urlize}}" role="tab" aria-controls="{{.name| urlize}}" aria-selected="true" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 17px;font-weight: bolder;color: black; justify-content: space-between;">
                {{.name}}
              </a>          
            </li>
            {{ end }}
          </ul>
        </div>        
          <!-- mobile view -->
          <div class="d-block d-sm-none">
            <ul class="nav nav-pills justify-content-center mb-20" id="pills-tab" role="tablist">
              {{ range $i, $e:= .tablist }}
              <li class="nav-item mb-20" role="presentation">
                <a class="nav-link {{if eq $i 0}}active{{end}}" id="pill-{{.name| urlize}}" data-bs-toggle="pill"
                  href="#{{.name| urlize}}" role="tab" aria-controls="{{.name| urlize}}" aria-selected="true" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;font-weight: bolder;color: black; justify-content: space-between;width: 120px;vertical-align: middle;">
                  {{.name}}
                </a>          
              </li>
              {{ end }}
            </ul>
          </div>
        <div class="tab-content" id="pills-tabContent" style="border: 0px; border-style: none;border-color: white;">
          {{ range $i, $e:= .tablist }}
          <div class="tab-pane fade {{if eq $i 0}}show active{{end}}" id="{{.name | urlize}}" role="tabpanel"
            aria-labelledby="pill-{{.name | urlize}}">
            <div class="row align-items-center">
              <!-- desktop view Q & A -->
              <div class="d-none d-sm-block">
                <ul class="list-unstyled">
                  {{ range .faqs }}
                  <div class="col-lg-10 mt-4 mt-lg-0 anim-to-bottom" style="padding-bottom: 10px;margin: auto; ">                     
                    <li style="height: auto; background-color: rgb(242, 243, 243); padding-left: 40px; padding-right: 10px;padding-bottom: 5px;">                    
                      <details>
                        <summary style="list-style-position: outside;">                        
                          {{ with .question}}
                          <p class="section-title" style="font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 16px;color: black;">{{ . }}</p>
                          {{ end }}
                        </summary>                    
                        <div>
                          <p class="mb-30" style="background-color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 14px;">{{ .answer | markdownify }}</p> 
                        </div>     
                      </details>               
                    </li>                                                                    
                  </div>
                  {{ end }}
                </ul>    
              </div> 
              <!-- mobile view Q & A -->
              <div class="d-block d-sm-none">
                <ul class="list-unstyled">
                  {{ range .faqs }}
                  <div class="col-lg-10 mt-4 mt-lg-0 anim-to-bottom">                     
                    <li style="height: auto; background-color: rgb(242, 243, 243); padding-left: 40px; padding-right: 10px;padding-bottom: 5px;">                    
                      <details>
                        <summary style="list-style-position: outside;">                        
                          {{ with .question}}
                          <p class="section-title" style="font-weight: bolder; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 15px;color: black;">{{ . }}</p>
                          {{ end }}
                        </summary>                    
                        <div>
                          <p class="mb-30" style="background-color: white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 13px;">{{ .answer | markdownify }}</p> 
                        </div>     
                      </details>               
                    </li>                                                                    
                  </div>
                  {{ end }}
                </ul>    
              </div>                      
            </div>
          </div>
          {{ end }}
        </div>
      </div>
    </div>    
  </div>
</section>
{{ end }}
{{ end }}
<!-- end of Frequently asked questions desktop tab -->

<!-- subscription area -->
{{ with .Params.subscription }}
{{ $image1 := resources.Get "images/about/qr6.jpg" }}
<section class="subscription-section col-lg-11 bg-cover position-relative overlay"
style="margin: auto; height: 400px;background-image:url('{{ $image1.RelPermalink }}'); background-color: darkslateblue;border-radius: 20px;padding: 20px;">
  <div>
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto text-center">
          <h1 class="text-white mb-5 text-capitalize" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 26px;font-weight: bolder;">{{ .title | markdownify }}</h1>
          <p class="text-light mb-4 mx-lg-5 px-lg-5 content" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">{{ .content | markdownify }}</p>
          
          <div class="col-lg-6" style="margin: auto;">
            {{ if .button_solid.enable }}
            {{ with .button_solid }}
            <!-- <a href="{{ .link | absLangURL }}" class="btn m-2" style="background-color: coral;border-color: coral;border-style: solid;">{{ .label }}</a> -->
            <a {{if .link}}href="{{.link | relLangURL}}" {{else}}data-bs-toggle="modal" data-bs-target="#signup-modal"
            {{end}} class="btn btn-sm" style="background-color: coral;border-color: coral;border-style: solid;">{{ .label }}</a>
            {{ end }}
            {{ end }}

            {{ if .button_solid1.enable }}
            {{ with .button_solid1 }}
            <a href="{{ .link | absLangURL }}" class="btn m-2" style="background-color: transparent; border-color: white;border-style: solid;">{{ .label }}</a>
            {{ end }}
            {{ end }}
          </div>          
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</section>
<!-- /subscription area -->
{{ end }}